@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-brand: #16a34a;
  --color-brand-dark: #15803d;
  --color-brand-light: #4ade80;
  --color-accent: #f97316;
  --color-background: var(--background);
  --color-foreground: var(--foreground);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html{
  overflow-x: hidden;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Noto Sans JP", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 767px) {
  .only_sp {
    display: block;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeInUp {
  animation: fadeInUp 0.8s ease-out forwards;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.animate-marquee {
  animation: marquee 15s linear infinite;
}

@keyframes draw {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.animate-draw {
  animation: draw 1s ease-out forwards;
}

@keyframes spinOnce {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.animate-spin-once {
  animation: spinOnce 0.6s ease-in-out;
}

@keyframes firework-up {
  0% {
    transform: translateY(0) scale(0.6);
    opacity: 0.6;
  }
  40% {
    opacity: 1;
    transform: translateY(-80%) scale(1);
  }
  100% {
    transform: translateY(-200%) scale(0.8);
    opacity: 0;
  }
}
.particle-icon {
  font-size: 3rem;
  position: absolute;
  color: #f97316;
}
/* hover中は常にループ */
.group:hover .particle-icon {
  animation: firework-up 1.4s ease-out infinite;
}

/* 
  生成される「予定」の要素にあらかじめdelayして、ランダムっぽくしている。
  (本当はbgのアイコン同様にrandom値使って、ハイドレエラー処理した方がよいが)
*/
.firework-0 { animation-delay: 0s !important; }
.firework-1 { animation-delay: 0.8s !important; }
.firework-2 { animation-delay: 1s !important; }
.firework-3 { animation-delay: 0.6s !important; }
.firework-4 { animation-delay: 1.2s !important; }
.firework-5 { animation-delay: 0.4s !important; }
.firework-6 { animation-delay: 0.2s !important; }

/* ▼ タイル画像が上から下へ流れるアニメーション */
@keyframes scrollDown {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}
.animate-scroll {
  animation: scrollDown 30s linear infinite;
}
/* 画像がカラム内で分割されないようにする */
.break-inside-avoid {
  break-inside: avoid;
}

