@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-brand: #16a34a;
  --color-brand-dark: #15803d;
  --color-brand-light: #4ade80;
  --color-accent: #f97316;
  --color-background: var(--background);
  --color-foreground: var(--foreground);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
